.container {
   align-content: center; /*

   /* EIXO HORIZONTAL - Main Axis */flex-start flex-end center 

   /* EIXO VERTICAL - Cross Axis */flex-start flex-end center baseline stretch
   align-items: center; 

   .title {
      margin-top: 3rem;
      font-size: 10rem;
      font-weight: bolder;
      text-align: center;

      @media (max-width: 1200px) {
         fonte-size: 6rem;


         @media (max-width: 768px) {
         fonte-size: 6rem;
      }
      


   

   }



}